#add-transaction-btn {
	position: fixed;
	bottom: 50px;
	right: 70px;
}

.account-container{
	cursor: pointer;

}

.account-container:hover{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(100,100,100,1);
	-moz-box-shadow   : 0px 0px 5px 0px rgba(100,100,100,1);
	box-shadow        : 0px 0px 5px 0px rgba(100,100,100,1);
}


/* Sidenav */
.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	left: 0;
	overflow-x: hidden;
  }
    
  .main-content {
	margin-left: 170px; /* Same as the width of the sidenav */
	padding: 0px 10px;
  }
